---
import Layout from "@layouts/Layout.astro";
import QuadrantChart from "@components/QuadrantChart.astro";
---

<Layout title="Tech Radar">
  <main>
    <h1>
      Welcome to Carlsberg's Group Digital Studio
      <span class="text-gradient">TechRadar</span>
    </h1>
    <QuadrantChart />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 100px;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
</style>
